/* Normalize.css by necolas on github
https://github.com/necolas/normalize.css */

@import url(./normalize.css);



/* General */
a {
    text-decoration: none;
    color: inherit;
}

/* main grid */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 8fr;
    position: relative;
    /* height: min-content; */
}

.menu {
    grid-row: 1/4;
    background: #fcd581;

    display: grid;
    padding: 5px;
    
    position: relative;
}

.top-bar {
    display: grid;
    grid-template-rows: 2fr 3fr;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;
}


.main-content {
    display: grid;
    grid-template-rows: 400px 400px 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.video {
    grid-row: 1/4;
}


/* Left menu css */

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0em 0.5em;
    height: fit-content;
    position: sticky;
    top: 0px;
}

.logo {
    padding: 0.5em 0.5em 1em 0.25em;
    font-size: 2em;
    color: #c23742;
    
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.logo:hover {
    cursor: pointer;
}

.menu-content {
    display: grid;
    grid-auto-rows: 1fr;
    width: 100%;
}

.menu-content > div {
    padding: 0.25em;
    cursor: pointer;
    font-size: 1.5em;
    color: #c23742;

    display: flex;
    align-items: center;
}

.menu-content > div:hover {
    text-decoration: underline;
    box-shadow: #c23742 0px 0px 4px 1px;
}
.menu-content .empty-space:hover {
    box-shadow: none;
    cursor: default;
}

.menu-content img {
    margin-right: 0.5em;
    height: 1em;
    width: auto;
}

/* top bar CSS */

.header {
    padding: 0.5em 0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 8fr 1fr 1fr 3fr;
}

.header > label {
    padding-right: 0.75em;
    justify-self: flex-end;
}

.search-logo {
    height: 1.5em;
    opacity: 0.6;
}

.search-bar {
    width: 80%;
    min-width: 100px;
    border-radius: 1em;
    border: none;
    background-color: lightgray;
    margin-bottom: 2px;
    padding: 3px 10px;
    justify-self: flex-start;
}

.search-bar:hover {
    cursor: pointer;
}

.search-bar:focus {
    outline: none;
    box-shadow: gray 1px 1px 1px 1px;
}

.bell-icon > img {
    border-radius: 50%;
    padding: 0.25em;
    height: 1.6em;
    opacity: 0.6;
    cursor: pointer;
}

.bell-icon > img:hover {
    opacity: 1;
    background-color: lightgray;
}

.pfp {
    justify-self: end;
}

.pfp > img {
    border-radius: 50%;
    height: 35px;
}

.username {
    font-size: 1.5em;
    justify-self: flex-start;
    padding-left: 2%;
}

/* User info bar CSS */

.user-info {
    /* padding: 0.25em 0; */
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.user-info img {
    height: 60px;
}

.welcome-text {
    padding: 0em 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.upper-text {
    align-self: center;
    font-size: 1.2em;
}

.lower-text {
    font-size: 1.5em;
    font-weight: 500;
}

.lower-text-id {
    font-size: 0.75em;
}

.user-info > button {
    width: 80%;
    height: 40%;
    min-width: fit-content;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 1.5em;
    border: none;
    
    align-self: center;
    justify-self: flex-start;
}

.user-info > button:hover {
    background-color: darkblue;
}

/* Main content CSS */ 
/* -Video stats CSS */

.video {
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 1rem;
}

.stats {
    display: grid;
    padding-top: 1em;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.statistic-block {
    padding: 4% 12%;
    border: 1px solid black;
    background-color: white;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.statistic-title {
    font-size: 1.5em;
    font-weight: 600;
}

.statistic-value {
    font-size: 1em;
}

.graph {
    grid-column: 1 / 4;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
}

.views-graph {
    max-width: 75%;
    border: 3px solid lightgray;
    border-radius: 1em;
}

.data-credits {
    position: absolute;
    bottom: -1.1em;
    color: gray;
}

/* old videos list CSS */
.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2em;
    padding: 5em 3em 0 3em;
    position: relative;
}

.heading {
    left: 1em;
    font-size: 3em;
    font-style: italic;
    position: absolute;
}

.recent-video-card {
    background: white;
    display: flex;
    flex-direction: column;
}

.recent-video-image {
    border-radius: 10px;
}

.video-title {
    padding-top: 5px;
}

.info {
    font-size: 0.75em;
    opacity: 0.9;
}

/* Most Recent video CSS */

.recent-wrapper {
    padding: 1em;
}

.recent {
    padding: 1em 0.5em;
    border: 3px solid lightgray;
    border-radius: 1em;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.recent-heading {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    text-decoration: underline;
}

.recent-title {
    padding-top: 5px;
}

.other-info {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    justify-content: flex-end;
}

.recent-info-value {
    justify-self: flex-end;
}

/* Announcements CSS */

.announcements-wrapper {
    padding: 1em;
}

.announcements {
    padding: 1em 0.5em;
    border: 3px solid lightgray;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.announcements > *{
    border-top: 3px solid lightgray;
    padding: 1.25em 0 0.75em 0.75em;
}

.announcements-heading {
    font-size: 1.5em;
    padding: 0 0 0.5em 0;
    text-decoration: underline;
    border: none;
}

.upgrade, .privacy, .maintenance {
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 600;
    font-size: 1.25em;
}

.subtext {
    font-size: 0.75em;
}

.subtext > a {
    text-decoration: underline;
    color: #fcd581;
}